main {
    background-color: #f7f9f6;
    position: fixed;
    width: 100%;
    height: 100%;
}

.nav li {
    display: inline;
    font-size: 31px;
    padding: 80px;
}

.nav ul {
margin-left: 100px;
margin-top: 15px
}

header {
    background-color: #6c50bf;
    margin-top: -10px;
    margin: -10px;
    padding: 20px;
}

.nav a {
    color: white;
    text-decoration: none
}

.nav a:hover {
    color: grey;
    text-decoration: none
}

.nav img {
    position: absolute;
    left: 0;
    top: 0;
    width: 106px;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 25px
}