{% extends 'main/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1>Каталог товаров</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for i in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{i.photo.url}}">
                    <div class="card-body">
                        <p class="card-text">{{ i.brand }} {{i.model}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ i.get_absolute_url }}">Подробнее</a></button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                            </div>
                            <small class="text-muted">{{i.price}} руб.</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}