{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нас</h1>
<div class="about_us">
    <p>Интернет магазин розничной и оптовой продажи автотоваров и элетронной техники.</p><br>
    <p>Мы продаем качественные и полезные автомобильные аксессуары, электронику, авто-звук, по самым низким ценам на рынке!</p>
    <p>Доставка по всей России! Отправка в день заказа! </p>
    <p>Мы работаем со всеми транспортными компаниями, Авито доставкой, Почтой России. Весь товар проверяется и надежно упаковывается перед отправкой!</p><br>
    <p>Наши контакты:</p>
    <p>8 (991) 997 14-88</p>
    <p>ds.shop@gmail.com</p>
</div>
{% endblock %}