{% extends 'main/base.html' %}

{% block title %}Профиль {{user.username}}{% endblock %}

{% block content %}
<h1>Профиль</h1>
<div class="profile_info">
    <p>Логин: {{user.username}}</p>
    <p>Имя: {{user.first_name}}</p>
    <p>Фамилия: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    {% if user.profile.address != '' %}
        <p>Адрес: {{user.profile.address}}</p>
    {% else %} <p>Адрес: Нет данных (<a href="{% url 'edit' %}">Редактировать</a>)</p>
    {% endif %}
    {% if user.profile.age != 0 %}
        <p>Возраст: {{user.profile.age}}</p>
    {% else %} <p>Возраст: Нет данных (<a href="{% url 'edit' %}">Редактировать</a>)</p>
    {% endif %}
    {% if user.profile.gender == 'Man' %}
        <p>Пол: Мужчина</p>
    {% elif user.profile.gender == 'Woman' %}
        <p>Пол: Женщина</p>
    {% else %} <p>Пол: Нет данных (<a href="{% url 'edit' %}">Редактировать</a>)</p>
    {% endif %}
</div>
{% endblock %}